# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build and dist
client/dist/
server/uploads/

# Environment files
server/.env
client/.env

# Logs
*.log

# OS/system files
.DS_Store
Thumbs.db
